  <div class="row">
    <div class="col-md-6 offset-md-3">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item list-group-item-action list-group-item-success"><%=follow.username%></li>
        <li class="list-group-item list-group-item-action list-group-item-secondary"><%=follow.username%></li>
      </ul>
    </div>
  </div>